TestWS/WebContent/WEB-INF/wsdl/SampleWSService_schema1.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://mits.com/" targetNamespace="http://mits.com/" version="1.0">

  <xs:element name="sampleWS" type="tns:sampleWS"/>

  <xs:element name="sampleWSResponse" type="tns:sampleWSResponse"/>

  <xs:complexType name="sampleWS">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="sampleWSResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
